.hero {
    margin-top: 1em;
    margin-bottom: 2em;
    color: var(--clr-dark);
}

.hero__title {
    padding: 15em 0 12em 0;
    line-height: 1.2;
}

.hero__title h1 {
    font-size: var(--fs-title);
    font-weight: var(--fw-bold);
    letter-spacing: -0.8px;
}

.hero__title h2 {
    font-size: var(--fs-heading);
    letter-spacing: -0.8px;
}

.hero__title p {
    padding-top: 2em;
    font-size: var(--fs-body);
    max-width: 50ch;
}

.hero__title-wrapper {
    padding: 1em;
    width: clamp(100vw, auto, auto); 
}

/* Mobile Skills */
.hero__skills-mobile ul {
    list-style: none;
    display: flex;
    gap: 1.2em;
    flex-wrap: wrap;
    margin-top: 3em;
}

.skill-mobile {
    background: var(--clr-800);
    --size: 2.3em;
    width: var(--size);
    height: var(--size);
    border-radius: 50%; 
    cursor: pointer;
    animation: listGrow 0.4s ease-in-out forwards;
    box-shadow: 0.1em 0.1em 1em 0em var(--clr-shadow);
}

.skill-mobile img {
    border-radius: 50%;
    padding: 0.25em;
    object-position: center;
}

@keyframes listGrow {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

@media (max-width: 50em) {
    .hero__title {
        padding-top: 13em;
        line-height: 1.2;
    }
}



