.portfolio {
    margin-top: 2em;
    color: var(--clr-dark);
}

.portfolio__project {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    text-align: center;
    padding: 1em;
    background: var(--clr-card);
    cursor: pointer;
    box-shadow: 0.1em 0.1em 0.5em -1px rgba(0,0,0,0.3);
    transition: all 0.03s ease;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    isolation: isolate;
}
.portfolio__project:hover {
    box-shadow: 0.2em 0.2em 0.5em 0px rgba(0,0,0,0.3);
}
.portfolio__project:active {
    outline: none;
}
.portfolio__project img {
    border-radius: 0.5em;
}
.portfolio__project p {
    font-size: var(--fs-subheading);
    font-weight: var(--fw-bold);
    font-size: var(--fs-subheading);
}
.portfolio__project a {
    position: absolute;
    z-index: 2;
    inset: 0;
}

.tags {
    list-style: none;
    display: flex;
    gap: 1em;
    opacity: 0.6;
    font-size: var(--fs-body);
}

