:root {
  /* Colours */
  --clr-dk: #0f0f0f;
  --clr-lt: rgb(255, 255, 255);
  --clr-shadow-lt: #888686;
  --clr-shadow-dk: rgb(0, 0, 0);

  --clr-dark: var(--clr-dk);
  --clr-light: var(--clr-lt);
  --clr-800: #262626;
  --clr-500: #737373;
  --clr-300: #d4d4d4;
  --clr-shadow: var(--clr-shadow-lt);
  --clr-card: var(--clr-lt);

  --clr-accent-200: #99f6e4;
  --clr-accent-300: #5eead4; /* Teal */
  --clr-accent-500: #14b8a6;
  --clr-accent-900: #134e4a;

  /* Fonts */
  --ff-logo: 'Kristi', cursive;
  --ff-primary: 'Manrope', sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-2xl: 1.5rem;
  --fs-3xl: 1.875rem;
  --fs-4xl: 2.25rem;
  --fs-5xl: 3rem;
  --fs-6xl: 3.75rem;

  --fs-body: clamp(var(--fs-sm), 1.1vw, var(--fs-base));
  --fs-heading: var(--fs-2xl);
  --fs-subheading: clamp(var(--fs-base), 1.1vw, var(--fs-lg));
  --fs-nav: clamp(var(--fs-xs), 1vw, var(--fs-sm));
  --fs-button: var(--fs-sm);
  --fs-title: clamp(var(--fs-4xl), 2.5vw, var(--fs-6xl));
}

/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"], 
ol[role="list"]{
  list-style: none;
}

a {
  text-decoration: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html, 
body {
  height: auto;
}

body {
  text-rendering: optimizeSpeed; 
  background-color: var(--clr-light);
}

img, 
picture, 
svg{
  max-width: 100%;
  display: block;
}

/* Basic styles */
body {
  font-family: var(--ff-body);
  line-height: 1.5;
}



